# Build e compilação
/target/
/out/
/build/

# Dependências baixadas
/.m2/repository/
/node_modules/      # caso use frontend JS

# IDEs e editores
/.idea/
/.vscode/
/*.iml
/*.ipr
/*.iws

# Logs e arquivos temporários
*.log
*.tmp
*.swp
*.bak

# Arquivos de sistema
.DS_Store
Thumbs.db

# Configurações de servidor local (Tomcat, Glassfish, Wildfly)
/logs/
/work/
/temp/

# Arquivos de exportação e pacotes
*.jar
*.war
*.ear

# Arquivos do Maven/Gradle
*.class
*.jar.original

.classpath
.project
.settings

settings.xml
